.fi {
  position: relative;
  display: inline-block;
  width: 1.333333em;
  line-height: 1em;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.fi::before {
  content: " ";
}

.fi-ae { background-image: url("../node_modules/flag-icons/flags/4x3/ae.svg"); }
.fi-ar { background-image: url("../node_modules/flag-icons/flags/4x3/ar.svg"); }
.fi-at { background-image: url("../node_modules/flag-icons/flags/4x3/at.svg"); }
.fi-au { background-image: url("../node_modules/flag-icons/flags/4x3/au.svg"); }
.fi-be { background-image: url("../node_modules/flag-icons/flags/4x3/be.svg"); }
.fi-bh { background-image: url("../node_modules/flag-icons/flags/4x3/bh.svg"); }
.fi-br { background-image: url("../node_modules/flag-icons/flags/4x3/br.svg"); }
.fi-ca { background-image: url("../node_modules/flag-icons/flags/4x3/ca.svg"); }
.fi-ch { background-image: url("../node_modules/flag-icons/flags/4x3/ch.svg"); }
.fi-cn { background-image: url("../node_modules/flag-icons/flags/4x3/cn.svg"); }
.fi-de { background-image: url("../node_modules/flag-icons/flags/4x3/de.svg"); }
.fi-dk { background-image: url("../node_modules/flag-icons/flags/4x3/dk.svg"); }
.fi-dz { background-image: url("../node_modules/flag-icons/flags/4x3/dz.svg"); }
.fi-eg { background-image: url("../node_modules/flag-icons/flags/4x3/eg.svg"); }
.fi-es { background-image: url("../node_modules/flag-icons/flags/4x3/es.svg"); }
.fi-fi { background-image: url("../node_modules/flag-icons/flags/4x3/fi.svg"); }
.fi-fr { background-image: url("../node_modules/flag-icons/flags/4x3/fr.svg"); }
.fi-gb { background-image: url("../node_modules/flag-icons/flags/4x3/gb.svg"); }
.fi-gr { background-image: url("../node_modules/flag-icons/flags/4x3/gr.svg"); }
.fi-ie { background-image: url("../node_modules/flag-icons/flags/4x3/ie.svg"); }
.fi-in { background-image: url("../node_modules/flag-icons/flags/4x3/in.svg"); }
.fi-iq { background-image: url("../node_modules/flag-icons/flags/4x3/iq.svg"); }
.fi-it { background-image: url("../node_modules/flag-icons/flags/4x3/it.svg"); }
.fi-jo { background-image: url("../node_modules/flag-icons/flags/4x3/jo.svg"); }
.fi-jp { background-image: url("../node_modules/flag-icons/flags/4x3/jp.svg"); }
.fi-ke { background-image: url("../node_modules/flag-icons/flags/4x3/ke.svg"); }
.fi-kr { background-image: url("../node_modules/flag-icons/flags/4x3/kr.svg"); }
.fi-kw { background-image: url("../node_modules/flag-icons/flags/4x3/kw.svg"); }
.fi-lb { background-image: url("../node_modules/flag-icons/flags/4x3/lb.svg"); }
.fi-ly { background-image: url("../node_modules/flag-icons/flags/4x3/ly.svg"); }
.fi-ma { background-image: url("../node_modules/flag-icons/flags/4x3/ma.svg"); }
.fi-mx { background-image: url("../node_modules/flag-icons/flags/4x3/mx.svg"); }
.fi-ng { background-image: url("../node_modules/flag-icons/flags/4x3/ng.svg"); }
.fi-nl { background-image: url("../node_modules/flag-icons/flags/4x3/nl.svg"); }
.fi-no { background-image: url("../node_modules/flag-icons/flags/4x3/no.svg"); }
.fi-nz { background-image: url("../node_modules/flag-icons/flags/4x3/nz.svg"); }
.fi-om { background-image: url("../node_modules/flag-icons/flags/4x3/om.svg"); }
.fi-pl { background-image: url("../node_modules/flag-icons/flags/4x3/pl.svg"); }
.fi-ps { background-image: url("../node_modules/flag-icons/flags/4x3/ps.svg"); }
.fi-pt { background-image: url("../node_modules/flag-icons/flags/4x3/pt.svg"); }
.fi-qa { background-image: url("../node_modules/flag-icons/flags/4x3/qa.svg"); }
.fi-ru { background-image: url("../node_modules/flag-icons/flags/4x3/ru.svg"); }
.fi-sa { background-image: url("../node_modules/flag-icons/flags/4x3/sa.svg"); }
.fi-sd { background-image: url("../node_modules/flag-icons/flags/4x3/sd.svg"); }
.fi-se { background-image: url("../node_modules/flag-icons/flags/4x3/se.svg"); }
.fi-sy { background-image: url("../node_modules/flag-icons/flags/4x3/sy.svg"); }
.fi-tn { background-image: url("../node_modules/flag-icons/flags/4x3/tn.svg"); }
.fi-tr { background-image: url("../node_modules/flag-icons/flags/4x3/tr.svg"); }
.fi-us { background-image: url("../node_modules/flag-icons/flags/4x3/us.svg"); }
.fi-ye { background-image: url("../node_modules/flag-icons/flags/4x3/ye.svg"); }
.fi-za { background-image: url("../node_modules/flag-icons/flags/4x3/za.svg"); }
